@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@300&family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main-color: #ccad2f;
  --bg-second-color: #342800;
  --color-1: #f2db94;
  --color-2: #f2e1ae;
  --color-3: #73551f;
  --color-4: #a67f38;
  --color-5: #d9b573;
  --text-color-1: #0c0c0d;
  --text-color-1: #4b4a4d;
  --text-color-1: #4f191f;
  --text-color-1: #939296;
  --text-color-1: #e8e6ed;

  --ff-open: "Open Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-vibes: "Great Vibes", cursive;
  --ff-kalam: "Kalam", cursive;
}

/* ---------------------------------- */
/*               NAVBAR               */
/* ---------------------------------- */

.container-fluid {
  background-color: var(--color-2);
}

.container-fluid .navbar-brand:hover {
  transform: scale(1.03) !important;
  box-shadow: 0px 0px 10px black;
}

.navbar img {
  height: 75px;
}

.navbar p {
  font-family: var(--ff-kalam);
  color: var(--bg-main-color);
}

.nav-item .nav-hover:hover {
  color: #4f191f !important;
  font-weight: 500;
  transition-duration: 0.3s;
}

.nav-item button {
  animation: shadow 1s alternate infinite;
  background-color: var(--color-3);
}

.nav-item .nav-button {
  color: var(--color-2);
}

.nav-item .nav-button:hover {
  color: white;
  transition-duration: 0.3s;
  transform: scale(1.01);
}

@keyframes shadow {
  100% {
    box-shadow: 0px 0px 20px #6e5607;
  }
}

/* ---------------------------------- */
/*              CAROUSEL              */
/* ---------------------------------- */

.carousel-item {
  outline: hidden;
}

.carousel-caption {
  bottom: 5rem;
}

/* ---------------------------------- */
/*             TREATMENTS             */
/* ---------------------------------- */

section.container {
  background-color: var(--color-2);
}

section.container h3 {
  color: var(--color-4);
}
